@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
$theme-colors: (
    "light":      #efd9c1,
    "dark":       #040001,
    "primary":    #0368c4,
    "secondary":  #298cec,
    "info":       #50d0f5,
    "accent1":    #ec3400,
    "accent2":    #cfa4ab,
    "accent3":    #ead0d1,
    "success":    #00c26e,
    "warning":    #ecd300,
    "danger":     #ff1b0e,
);
$font-family-base : 'Inter Tight';
$link-color:                 #040001;
$link-hover-color:           #0368c4;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Inter Tight', sans-serif;
}
p {
    font-family: 'Inter Tight', sans-serif;
}