@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

$theme-colors: (
    "light":      #0f346d,
    "dark":       #afbdc7,
    "primary":    #16233b,
    "secondary":  #434453,
    "info":       #6d7a8a,
    "accent1":    #cecbcb,
    "accent2":    #5d9692,
    "accent3":    #8cb0d1,
    "success":    #39a769,
    "warning":    #e3cc38,
    "danger":     #f0261f,
);

$font-family-base : 'Gemunu Libre';
$link-color:                 #afbdc7;
$link-hover-color:           #16233b;


@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Gemunu Libre', sans-serif;
}
p {
    font-family: 'Gemunu Libre', sans-serif;
}