
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
$theme-colors: (
    "light":      #f8e00b,
    "dark":       #120757,
    "primary":    #4f3516,
    "secondary":  #9b5a20,
    "info":       #ef9a3a,
    "accent1":    #d3c0b7,
    "accent2":    #fff5d4,
    "accent3":    #f7cd49,
    "success":    #5ec300,
    "warning":    #ffca7d,
    "danger":     #ff0865,
);
$font-family-base : 'Arimo';
$link-color:                 #120757;
$link-hover-color:           #4f3516;

@import "~bootstrap/scss/bootstrap";
body {
    font-family: 'Arimo', sans-serif;
}
p {
    font-family: 'Arimo', sans-serif;
}