@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');
$theme-colors: (
    "light":      #2b9fff,
    "dark":       #020a07,
    "primary":    #FF8B2B,
    "secondary":  #2b9fff,
    "info":       #1e9dea,
    "accent1":    #916a9e,
    "accent2":    #2cd4d0,
    "accent3":    #c5a8bf,
    "success":    #09af65,
    "warning":    #e5ce09,
    "danger":     #f61b03,
);

$font-family-base : 'League Spartan';
$link-color:                 #020a07;
$link-hover-color:           #063486;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'League Spartan', sans-serif;
}
p {
    font-family: 'League Spartan', sans-serif;
}

// .slick-slide{
//     opacity: .5 !important;
//     transition: all 300ms ease-out !important;
// }

// .slick-slide img{
//     scale: 0.8 !important;
//     transition: all 300ms ease-out !important;
// }

// .slick-active{
//     opacity: 1 !important;
//     transition: all 300ms ease-out !important;
// }

// .slick-active img{
//     scale: 1 !important;
//     transition: all 300ms ease-out !important;
// }

.section-home-col .card{
    border-radius: 10px !important;
}

.three-col .imgWrap img {
    height: 75px !important;
    width: 75px !important;
}

.section-home-col .card img {
    border-radius: 50% !important;
}

.game-dp {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid white;
    translate: 0 !important;
}

.three-col .cardSize {
    width: 50% !important;
}

.three-col .imgWrap .card-title {
    font-size: 12px !important;
}

.three-col .imgWrap {
    padding: 2em 1em 0 !important;
    margin-bottom: 0em !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

.three-col .textWrap {
    padding: 1em !important;
}


.all-product .card-body {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px !important;
    translate: 0 !important;
}

@media only screen and (min-width: 768px){
    .three-col .cardSize {
        width: 50% !important;
    }
    .game-dp {
        width: 80px;
        height: 80px;
        translate: 0 25px !important;
    }
    .three-col .imgWrap .card-title {
        font-size: 18px !important;
    }

    .three-col .imgWrap {
        padding: 3.5em 1.5em 0 !important;
        margin-bottom: 1.5em !important;
        display: flex;
        flex-direction: row;
        align-items: start !important;
    }
    .three-col .textWrap {
        padding: 1em 2em 1.5em !important;
    }
    .all-product .card-body {
        height: 80px;
        translate: 0 25px !important;
    }
}

@media only screen and (min-width: 1205px){
    .three-col .cardSize {
        width: 33% !important;
    }
}

.three-col .textWrap p{
    margin-bottom: 0 !important;
}

.products-btn {
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px !important;
}

.section-home-col {
    justify-content: flex-start !important;
}

.btn-tab,
.registerBtn {
    border-radius: 25px !important;
}

.section-title-col.sticky-top {
    top: 69px !important;
}

.section-home-col .card:hover {
    opacity: 1 !important;
    transform: scale(1) !important;
    box-shadow: 0 2px 10px rgb(83 34 194 / 16%) !important
}

.section-home-col .card {
    box-shadow: 0 2px 10px rgb(83 34 194 / 16%) !important
}

.six-col .cardSize {
    width: 50%;
}

.six-col .cardSize .card-img-top {
    height: 175px;
}

@media only screen and (min-width: 500px){
    .six-col .cardSize {
        width: 33.33%;
    }
    .six-col .cardSize .card-img-top {
        height: 135px;
    }
}

@media only screen and (min-width: 768px){
    .six-col .cardSize {
        width: 25%;
    }
    .six-col .cardSize .card-img-top {
        height: 145px;
    }
}

@media only screen and (min-width: 992px){
    .six-col .cardSize {
        width: 20%;
    }
}

@media only screen and (min-width: 1205px){
    .six-col .cardSize {
        width: 16.6%;
    }

    .six-col .cardSize .card-img-top {
        height: 190px;
    }
}

.overlay-bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.section-home-col.two-col .card img {
    border-radius: 20px !important;
}

.newsPromo .newsThumb {
    border-radius: 8px 8px 0px 0px !important;
}

 
.newsPromo .section-home-col.two-col .card .newsThumb img.card-img-top {
    border-radius: 0px !important;
}

.products-btn {
    color: #2b9fff !important;
    transition: all 200ms ease-out;
}

.products-btn:hover {
    background: #2b9fff !important;
    color: #FFF !important;
}

.payment-step-container:hover{
    background: #f5f5f5;
    color: #2b9fff !important;
}

.howTo {
    background: #ff8b2b !important;
}

.slick-dots li.slick-active button:before {
    color: #ff8b2b !important;
}

.link-hover-color:hover {
    color: #2b9fff !important;
}

.oneplusgame .sticky-top nav {
    border-bottom: 5px solid white;
}

.two-col .cardSize {
    width: 100% !important;
}

.two-col .cardSize img.card-img-top{
    height: 230px !important;
}

.newsPromo .newsThumb {
    max-height: 250px !important;
}

@media only screen and (min-width: 1205px){
    .two-col .cardSize {
        width: 50% !important;
    }

    .two-col .cardSize img.card-img-top{
        height: 180px !important;
    }

    .newsPromo .newsThumb {
        max-height: 215px !important;
    }
}

.howTo {
    margin: 5rem 0;
    padding: 5rem 0 !important;
}

.promotion {
    margin-bottom: 5rem;
}

.footer {
    padding: 60px 0 0 !important;
}