@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$theme-colors: (
    "light":      #ddf6fe,
    "dark":       #171347,
    "primary":    #0000fd,
    "secondary":  #515fff,
    "info":       #6978df,
    "accent1":    #52497a,
    "accent2":    #6770ac,
    "accent3":    #9cb3cd,
    "success":    #00a560,
    "warning":    #e1cc00,
    "danger":     #f11e00,
);

$font-family-base : 'Glory';
$link-color:                 #171347;
$link-hover-color:           #0000fd;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Glory', sans-serif;
}
p {
    font-family: 'Glory', sans-serif;
}