
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$theme-colors: (
    "light":      #0c2028,
    "dark":       #020100,
    "primary":    #3c2657,
    "secondary":  #aa1e55,
    "info":       #e14c6a,
    "accent1":    #492830,
    "accent2":    #611f1a,
    "accent3":    #d3ced2,
    "success":    #1a965d,
    "warning":    #dac91d,
    "danger":     #e52a0d,
);

$font-family-base : 'Roboto';
$link-color:                 #020100;
$link-hover-color:           #3c2657;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}